---
---

@import "{{ site.theme }}";

// html {
//     font-size: 150%;
// }

:root {
    --page-nav-background-color: white;
}

body {
    font-family:"Quicksand",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; // Put Quicksand at the front, then minima defaults
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1, h3 {
    margin-top:2rem;
    font-weight:bold;
}

hr {
    margin-top:2rem;
    margin-bottom:2rem;
}

.page-content > .wrapper {
    background-color: white;
}

nav:is(.page-nav, .slide-group-nav) {
    position:sticky;
    top:1rem;
}

// nav.page-nav > ul, nav.slide-group-nav > ul {
nav:is(.page-nav, .slide-group-nav) > ul {
    
    position:absolute;
    right:100%;

    width:max-content;
    max-width:15rem;
    padding:1rem;   
    margin-left:0;
    margin-right:2.5rem;

    border-right:1px solid #ddd;
    background-color: var(--page-nav-background-color);
    
    
}

nav:is(.page-nav, .slide-group-nav) > ul {
    list-style:none;
}

nav.page-nav > ul ul {
    list-style-type: "\2013";
    margin-left:1rem;
}



nav.page-nav > ul li {
    padding:.25rem 0 .25rem .5rem;
}



#slide-content {
    font-size:1.25rem;
}

.slide-group {
    display:grid;
    // flex-direction: column;
    // gap:1rem;
}

.slide-container {
    display:grid;
    gap:1rem;
}

.slide {
    padding:1rem;
    // height:100vh;
    // min-height:600px;
    border:1px solid #ddd;
}

.slide aside {
    background-color:lightgrey;
    padding:1rem;
}
