---
---

@import "{{ site.theme }}";

html {
    font-size: 200%;
}

.slide-group {
    display:flex;
    flex-direction: column;
    gap:1rem;
}

.slide {
    padding:1rem;
}

.slide aside {
    background-color:lightgrey;
    padding:1rem;
}
