---
---

@import "{{ site.theme }}";

// html {
//     font-size: 150%;
// }

nav.page-nav, nav.slide-group-nav {
    position:sticky;
    top:0;
}

nav.page-nav > ul, nav.slide-group-nav > ul {
    position:absolute;
    max-width:12rem;
    left:-20rem;
    border:1px solid #ddd;
    
    // margin-left:0;
    padding:1rem;
}

nav:is(.page-nav, .slide-group-nav) > ul {
    list-style:none;
}

nav.page-nav > ul li {

}



#slide-content {
    font-size:1.25rem;
}

.slide-group {
    display:grid;
    // flex-direction: column;
    gap:1rem;
}

.slide {
    padding:1rem;
    // height:100vh;
    // min-height:600px;
    border:1px solid #ddd;
}

.slide aside {
    background-color:lightgrey;
    padding:1rem;
}
